<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Contact Us</title>

    <style>
      
        .nav-link{
            padding-left: 50;
            padding-right: 50;
        }
      
          </style>
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/"><img src="/images/Espy_Many-Layers.png" style="height: 60px;">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"> 
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active" style="padding-right:8px;  
          padding-left: 0px;
          margin-left: 10px;
          margin-right: 310px;
          font-size: 23px;">
            <a class="nav-link" href="/">The Espy Corporation</a>
          </li>
          <li class= "nav-item" style="padding-right:8px;  
          padding-left: 0px;
          margin-left: 10px;
          margin-right: 10px;
          font-size: 15px ;">
            <a class="nav-link" href="/">Home </a>
             <span class="sr-only">(current)</span> 
          </li>
          
          <li class="nav-item" style="padding-right:8px;  
          padding-left: 0px;
          margin-left: 10px;
          margin-right: 10px;
          font-size: 15px;">
            <a class="nav-link" href="team">Our Team</a>
          </li>
          <li class="nav-item" style="padding-right:8px;  
          padding-left: 0px;
          margin-left: 10px;
          margin-right: 10px;
          font-size: 15px ;">
              <a class="nav-link" href="product">Products</a>
          </li> 
          <li class="nav-item active" style="padding-right:8px;  
          padding-left: 0px;
          margin-left: 10px;
          margin-right: 10px;
          font-size: 15px;">
              <a class="nav-link" href="contactus">Contact Us</a>
          </li> 
          <li class="nav-item" style="padding-right:8px;  
          padding-left: 0px;
          margin-left: 10px;
          margin-right: 50px;
          font-size: 15px;">
              <a class="nav-link" href="login">Login</a>
          </li> 
        </ul>
      </div>
    </nav>
   <!-- <div class="jumbotron jumbotron-fluid" style="background: white;">
      <div class="container">
        <h1 class="h1-responsive font-weight-bold text-center my-4" style="margin-left: 5px;padding-bottom: 0px;">Contact Us</h1>
        <p class="lead" style="text-align: right;"> Phone Number</p>
        <p class="lead" style="text-align: right;"> Email Address</p>
      </div> 
      <div class="jumbotron jumbotron-fluid" style="background: white;">
        <div class="container" >
          <h1 class="display-4" style="padding-bottom: 0px;"></h1>
          <p class="lead" style="text-align:right;"> Email Adress </p>
          <p class="lead" style="text-align: right;"> Phone Number</p>
        </div> -->

<section class="mb-4">
  <!--Section heading-->
  <h2 class="h1-responsive font-weight-bold text-center my-4">Contact Us</h2>
  <!--Section description-->
  <p class="text-center w-responsive mx-auto mb-5"></p>
  <div class="row">
      <!--Grid column-->
      <div class="col-md-10 mb-md-1 mb-4 " style="text-align: center;">
        <!--<form id="form" name="form" action="/email" method="POST"-->
          <form >
              <!--Grid row-->
              <div class="row" style="margin-left: 200px;">
                  <!--Grid column-->
                  <div class="col-md-6">
                      <div class="md-form mb-0">
                          <input type="text" id="name" name="name" class="form-control">
                          <label for="name" class="">Your Name</label>
                      </div>
                    </div>
                  <!--Grid column-->
                  <div class="col-md-6">
                      <div class="md-form mb-0">
                          <input type="text" id="email" name="email" class="form-control">
                          <label for="email" class="">Your Email</label>
                      </div>
                  </div>
                  <!--Grid column-->
              </div>
              <!--Grid row-->
              <!--Grid row-->
              <div class="row" style="margin-left: 200px;">
                  <div class="col-md-12">
                      <div class="md-form mb-0">
                          <input type="text" id="subject" name="subject" class="form-control">
                          <label for="subject" class="">Subject</label>
                      </div>
                  </div>
              </div>
              <!--Grid row-->
              <!--Grid row-->
              <div class="row"style="margin-left: 200px;">
                  <!--Grid column-->
                  <div class="col-md-12">
                      <div class="md-form">
                          <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea"></textarea>
                          <label for="message">Your Message</label>
                      </div>
                  </div>
              </div>
              <!--Grid row-->
      <input type="submit" value="Submit">
      <!--    <div class="text-center text-md-left" style="margin-left:250px;">
              <a class="btn btn-secondary"style="color:#f6f6f6" button type="submit" id="submit" value="submit">Submit</a>
          <div class="status"></div>
        </div> -->
  </div>
</section>
  </form>



       
        <footer class="py-4 bg-dark">
            <div class="container">
  <div class="row">
    <div class="col-sm" >
    
      <p class="m-0 text-white text-center">The Espy Corporation <br/>13033 Trautwein Rd 
        <br /> Austin, TX 78737</p>
    </div>
    <div class="col-sm" style="margin-top: 25px; font-size: 16px;">
      <p class="m-0 text-center text-white">Copyright &copy; 2017 - 2020 The Espy Corporation</p>
    </div>
    <div class="col-sm" style="margin-top:9px;">
      <p class="m-0  text-white text-center">(512) 261-1016 <br/>info@espy.com</p>
    </div>
  </div>
</div>
             
            </div>
           
          </footer>
 

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
 <!--<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script> -->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script>
      //retrieves data from Form, listens to submit button
      $('form').on('submit',(e) => {
        e.preventDefault();

        const name = $('#name').val().trim();
        const email = $('#email').val().trim();
        const subject = $('#subject').val().trim();
        const message = $('#message').val().trim();
//consolidate values into one object: data 
        const data = {
            name,
            email,
            subject,
            message
        };
        //post request method 
        //data is sent over to sever with route /email 
        $.post('/email',data, function() {
            console.log('Server received our data');
        });

      });;
    </script>
       
      </body> </html>
