<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Our Team</title>
    <style>
       figure{float:right;}
    .people {
      image-rendering: center;
      background-color: #f6f6f6;
      color: black;
      margin: 100px;
      padding: 100px;
    }
    
    </style>
  </head>
  <body>
    <!--<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/"><img src="/images/Espy_Many-Layers.png" style="height: 70px;">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item"
            style="padding-right:8px;  
            padding-left: 8px;
            margin-left: 30px;
            margin-right: 30px;
            font-size: 20px
            ;">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item"
            style="padding-right:8px;  
            padding-left: 8px;
            margin-left: 30px;
            margin-right: 30px;
            font-size: 20px
            ;">
              <a class="nav-link" href="about">About Us</a>
            </li>
            <li class="nav-item active"
            style="padding-right:8px;  
            padding-left: 8px;
            margin-left: 30px;
            margin-right: 30px;
            font-size: 20px
            ;">
              <a class="nav-link" href="team">Our Team</a>
            </li>
            <li class="nav-item"
            style="padding-right:8px;  
            padding-left: 8px;
            margin-left: 30px;
            margin-right: 30px;
            font-size: 20px
            ;">
                <a class="nav-link" href="product">Products</a>
              </li>
              <li class="nav-item" style="padding-right:8px;  
            padding-left: 8px;
            margin-left: 30px;
            margin-right: 80px;
            font-size: 20px
            ;">
                <a class="nav-link" href="login">Login</a>
            </li> 
             
          </ul>
        </div>
      </nav> 
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/"><img src="/images/Espy_Many-Layers.png" style="height: 60px;">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"> 
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active" style="padding-right:8px;  
            padding-left: 8px;
            margin-left: 10px;
            margin-right: 230px;
            font-size: 22px;">
              <a class="nav-link" href="/">The Espy Corporation</a>
            </li>
            <li class= "nav-item" style="padding-right:8px;  
            padding-left: 8px;
            margin-left: 10px;
            margin-right: 10px;
            font-size: 20px ;">
              <a class="nav-link" href="/">Home </a>
               <span class="sr-only">(current)</span> 
            </li>
            <li class="nav-item" style="padding-right:8px;  
            padding-left: 8px;
            margin-left: 10px;
            margin-right: 10px;
            font-size: 20px ;">
              <a class="nav-link" href="about">About Us</a>
            </li>
            <li class="nav-item active" style="padding-right:8px;  
            padding-left: 8px;
            margin-left: 10px;
            margin-right: 10px;
            font-size: 20px;">
              <a class="nav-link" href="team">Our Team</a>
            </li>
            <li class="nav-item" style="padding-right:8px;  
            padding-left: 8px;
            margin-left: 10px;
            margin-right: 10px;
            font-size: 20px ;">
                <a class="nav-link" href="product">Products</a>
            </li> 
            <li class="nav-item" style="padding-right:8px;  
            padding-left: 8px;
            margin-left: 10px;
            margin-right: 50px;
            font-size: 20px;">
                <a class="nav-link" href="login">Login</a>
            </li> 
          </ul>
        </div>
      </nav> -->
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/"><img src="/images/Espy_Many-Layers.png" style="height: 60px;">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"> 
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active" style="padding-right:8px;  
            padding-left: 0px;
            margin-left: 10px;
            margin-right: 310px;
            font-size: 23px;">
              <a class="nav-link" href="/">The Espy Corporation</a>
            </li>
            <li class= "nav-item" style="padding-right:8px;  
            padding-left: 0px;
            margin-left: 10px;
            margin-right: 10px;
            font-size: 15px ;">
              <a class="nav-link" href="/">Home </a>
               <span class="sr-only">(current)</span> 
            </li>
            
            <li class="nav-item active" style="padding-right:8px;  
            padding-left: 0px;
            margin-left: 10px;
            margin-right: 10px;
            font-size: 15px;">
              <a class="nav-link" href="team">Our Team</a>
            </li>
            <li class="nav-item" style="padding-right:8px;  
            padding-left: 0px;
            margin-left: 10px;
            margin-right: 10px;
            font-size: 15px ;">
                <a class="nav-link" href="product">Products</a>
            </li> 
            <li class="nav-item" style="padding-right:8px;  
            padding-left: 0px;
            margin-left: 10px;
            margin-right: 10px;
            font-size: 15px;">
                <a class="nav-link" href="contactus">Contact Us</a>
            </li> 
            <li class="nav-item" style="padding-right:8px;  
            padding-left: 0px;
            margin-left: 10px;
            margin-right: 50px;
            font-size: 15px;">
                <a class="nav-link" href="login">Login</a>
            </li> 
          </ul>
        </div>
      </nav>

    <div class="Title" style="margin-top: 45px;">
      <h1><center>Meet our Dynamic Team</center></h1>
    </div>
      <div class="people">
        <figure>
        <img src="" width="200" height="200" alt="Mark Smith picture">
        <figcaption>Mark Smith</figcaption>
        </figure>
      <h2>Mark Smith</h2>
      <h5>President, CEO & CTO</h5>
      <h6>Austin, Texas</h6>
      &nbsp;
      <p>Mr. Smith has extensive research and development expertise in the areas of temporal/multi- variant scientific visualization, human/computer communications and interfaces, video
        streaming technologies and object-oriented programming. He is the chief architect and technical
        contributor to Espy’s teamSENTINEL radio frequency sensors. Mr. Smith has been developing
        leading edge software and systems for commercial scientific/engineering and military defense
        applications for his entire career.</p>
      </div>

      <div class="people">
      <figure>
          <img src="whit_headshot.jpg" width="200" height="200" alt="Whitney Harris Picture">
          <figcaption>Whitney Harris</figcaption>
          </figure>
      <h2>Whitney Harris</h2>
      <h5>VP of Business Development</h5>
      <h6>Austin, Texas</h6>
      &nbsp;
      <p>Mr. Harris’ extensive experience in engineering, marketing and sales uniquely qualify him to
        represent Espy’s innovative and highly technical product and service offerings. Throughout his
        career, Mr. Harris has been immersed in the development, application and advancement of high- performance visualization systems for data intensive markets.</p>
      
      </div>


      <div class="people">
        <figure>
          <img src="twp_headshot.jpg" width="200" height="200" alt="Thomas Potthast Picture">
          <figcaption>Thomas Potthast</figcaption>
          </figure>
        <h2>Thomas Potthast</h2>
        <h5>VP of Development Engineering</h5>
        <h6>Orlando, Florida</h6>
        &nbsp;
        <p>Mr. Potthast has a proven track record for developing specialized computer systems that meet
          the needs of diverse scientific and defense requirements. He is an expert in the fields of digital
          signal processing, real-time computer processing, device integration, and high performance and
          secure network communications. Mr. Potthast has been a key technical contributor to Espy’s
          teamSENTINEL product line since its inception.</p>
        
        </div>
        <footer class="py-4 bg-dark">
          <div class="container">
<div class="row">
  <div class="col-sm" >
  
    <p class="m-0 text-white text-center">The Espy Corporation <br/>13033 Trautwein Rd 
      <br /> Austin, TX 78737</p>
  </div>
  <div class="col-sm" style="margin-top: 25px; font-size: 16px;">
    <p class="m-0 text-center text-white">Copyright &copy; 2017 - 2020 The Espy Corporation</p>
  </div>
  <div class="col-sm" style="margin-top:9px;">
    <p class="m-0  text-white text-center">(512) 261-1016 <br/> info@espy.com</p>
  </div>
</div>
</div>
           
          </div>
         
        </footer>

  </body>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>