<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/"><img src="/images/Espy_Many-Layers.png" style="height: 60px;">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"> 
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active" style="padding-right:8px;  
      padding-left: 0px;
      margin-left: 10px;
      margin-right: 310px;
      font-size: 23px;">
        <a class="nav-link" href="/">The Espy Corporation</a>
      </li>
      <li class= "nav-item" style="padding-right:8px;  
      padding-left: 0px;
      margin-left: 10px;
      margin-right: 10px;
      font-size: 15px ;">
        <a class="nav-link" href="/">Home </a>
         <span class="sr-only">(current)</span> 
      </li>
      
      <li class="nav-item" style="padding-right:8px;  
      padding-left: 0px;
      margin-left: 10px;
      margin-right: 10px;
      font-size: 15px;">
        <a class="nav-link" href="team">Our Team</a>
      </li>
      <li class="nav-item" style="padding-right:8px;  
      padding-left: 0px;
      margin-left: 10px;
      margin-right: 10px;
      font-size: 15px ;">
          <a class="nav-link" href="product">Products</a>
      </li> 
      <li class="nav-item" style="padding-right:8px;  
      padding-left: 0px;
      margin-left: 10px;
      margin-right: 10px;
      font-size: 15px;">
          <a class="nav-link" href="contactus">Contact Us</a>
      </li> 
      <li class="nav-item active" style="padding-right:8px;  
      padding-left: 0px;
      margin-left: 10px;
      margin-right: 50px;
      font-size: 15px;">
          <a class="nav-link" href="login">Login</a>
      </li> 
    </ul>
  </div>
</nav>


<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <img src="/images/Espy_Many-Layers.png"  class="img-fluid">
      <p>Create an Espy Account or Login</p>
      <a href="/users/register" target="_blank" class="btn btn-secondary btn-block mb-2"
        >Register</a>
      <a href="/users/login" target="_blank" class="btn btn-secondary btn-block">Login</a>
    </div>
  </div>
</div>

<footer class="py-4 bg-dark" style="margin-top: 50px;">
            <div class="container">
    <div class="row">
    <div class="col-sm" >
    
      <p class="m-0 text-white text-center">The Espy Corporation <br/>13033 Trautwein Rd 
        <br /> Austin, TX 78737</p>
    </div>
    <div class="col-sm" style="margin-top: 25px; font-size: 16px;">
      <p class="m-0 text-center text-white">Copyright &copy; 2017 - 2020 The Espy Corporation</p>
    </div>
    <div class="col-sm" style="margin-top:9px;">
      <p class="m-0  text-white text-center">(512) 261-1016 <br/> info@espy.com</p>
    </div>
    </div>
    </div>
        
           
          </footer>